
<button class="btn p-0" (click)="editEntry()" *ngIf="!editting">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"/><line x1="12" y1="8" x2="12" y2="16"/><line x1="8" y1="12" x2="16" y2="12"/></svg>
</button>

<table class="table table-striped table-sm mb-0">    
    <tbody *ngIf="editting">
        <td class="animate col-sm-1" [ngClass]="{'edit-icons' : !editting}">
            <button class="btn p-0 btn-cancel" (click)="cancelEdit()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"/><line x1="9" y1="9" x2="15" y2="15"/><line x1="15" y1="9" x2="9" y2="15"/></svg>
            </button>
            <button class="btn p-0" (click)="createEntry()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"/><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"/></svg>
            </button>
        </td>
        <td class="entry-partCode col-sm-1">
            <input type="text" class="form-control" [(ngModel)]="newEntry.partCode"></td>
        <td class="entry-quantity col-sm-1">
            <input type="text" class="form-control" [(ngModel)]="newEntry.quantity">
        </td>
        <td class="entry-locations col-sm-1">
            <input type="text" class="form-control" [(ngModel)]="newEntry.componentLocation">
        </td>
        <td class="col-sm-6"></td>
    </tbody>
</table>