input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

label {
  font-weight: 500;
  color: #333;
}

.quantity-input {
  position: relative;
  float: left;
}

.quantity-input:after {
  position: absolute;
  right: 10px;
  top: 12px;
  content: attr(data-placeholder)
}

.req-urgent {
  border-left: 5px solid #ff1a1a;
}

tbody tr:hover {
  background: #cacaca;
  cursor: pointer;
}

tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

 .bad-text {
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #dc3545;
}