<div class="d-flex">
    <div class="container">
        <form class="text-center border border-light p-5">
            <p class="h4 mb-4">Make a request</p>
            <!-- Partcode -->
            <div class="form-row mb-4">
              <div class="col">
                <input [(ngModel)]="req_partcode"
                [typeahead]="partCodes"
                (typeaheadOnSelect)="onPartcodeChanged($event)"
                (change)="onPartcodeChanged($event)"
                class="form-control"
                [ngClass]="{'is-invalid': !req_partCodeValid || req_partAlreadyOrdered}"
                placeholder="Partcode"
                name="partCode">
                
                <div *ngIf="req_partAlreadyOrdered" class="invalid-feedback">
                    Part has already been requested
                </div>
                <div *ngIf="!req_partCodeValid" class="invalid-feedback">
                    Invalid Partcode
                </div>
              </div>
            </div>
            <!-- Description -->
            <input type="text" 
                [(ngModel)]="req_partDescription"
                class="form-control mb-4" placeholder="Description"
                name="description" disabled>
            <!-- For Buffer -->
            <div class="form-check m-2 mb-4 text-left">
                <input class="form-check-input" type="checkbox" id="bufferCheck" name="bufferCheck" [(ngModel)]="req_forBuffer" disabled>
                <label class="form-check-label ml-2">For Buffer</label>
                <label class="form-check-label ml-2" *ngIf="req_forBuffer">{{req_partBufferValue}} {{req_partStockUnits}}</label>
            </div>
            <div class="d-flex">
                <!-- Quantity required -->                
                <div class="quantity-input" [attr.data-placeholder]="req_partStockUnits">
                    <input type="text"
                        [(ngModel)]="req_quantityRequired"
                        class="form-control mb-4" placeholder="Quantity required"
                        name="quantityReq">
                </div>
                    
                <!-- Quantity remaining -->
                <div class="quantity-input" [attr.data-placeholder]="req_partStockUnits">
                    <input type="text"
                        [(ngModel)]="req_quantityRemaining"
                        class="form-control mb-4" placeholder="Quantity remaining"
                        name="quantityRem">
                </div>
            </div>
            <div class="d-flex justify-content-center bd-highlight mb-3">
                <button [disabled]="!req_partCodeValid || req_partAlreadyOrdered" type="button" class="btn btn-success mx-2" (click)="sendRequest(false)">Request</button>
                <button [disabled]="!req_partCodeValid || req_partAlreadyOrdered" type="button" class="btn btn-warning mx-2" (click)="sendRequest(true)">Request Urgent</button>
                <button *ngIf="req_partAlreadyOrdered" [disabled]="!req_partCodeValid" type="button" class="btn btn-info mx-2" (click)="updateRequest()">Update Request</button>
            </div>
          </form>
    </div>
    <div class="container" *ngIf="requisitions">
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col" class="col-sm-2">Part Code</th>
                <th scope="col" class="col-sm-1">Quantity</th>
                <th scope="col" class="col-sm-4">Description</th>
                <th scope="col" class="col-sm-1">Initials</th>
                <th scope="col" class="col-sm-1">Date</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let req of requisitions">
                    <tr [ngClass]="req.urgent === true ? 'req-urgent' : ''">
                        <td>{{req.part.partCode}}</td>
                        <td>{{req.quantity}} {{req.part.stockUnits}}</td>
                        <td>{{req.part.description}}</td>
                        <td>{{req.user.initials}}</td>
                        <td>{{req.date | date:'shortDate'}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>