<div class="d-flex">
    <div class="container">
        <form class="text-center border border-light p-5">
            <p class="h4 mb-4">Make a request</p>
            <!-- Partcode -->
            <div class="form-row mb-4">
              <div class="col">
                <input [(ngModel)]="selectedPartCode"
                [typeahead]="partCodes"
                (ngModelChange)="onPartcodeChanged($event)"
                class="form-control"
                [ngClass]="!selectedPart && selectedPartCode ? 'is-invalid' : ''"
                placeholder="Partcode"
                name="partCode">
                
                <div *ngIf="selectedPart?.requisitions?.length > 0" class="invalid-feedback">
                    Part has already been requested
                </div>
                <div *ngIf="!selectedPart" class="invalid-feedback">
                    Invalid Partcode
                </div>
              </div>
            </div>
            <!-- Description -->
            <input type="text" 
                [value]="selectedPart?.description"
                class="form-control mb-4" placeholder="Description"
                name="description" disabled>
            <!-- For Buffer -->
            <div class="form-check m-2 mb-4 text-left">
                <input class="form-check-input" type="checkbox" id="bufferCheck" name="bufferCheck" [checked]="newRequisition?.forBuffer" disabled>
                <label class="form-check-label ml-2">For Buffer</label>
            </div>

            

            <div class="d-flex justify-content-left">
                <!-- Quantity required -->                
                <div class="quantity-input" [attr.data-placeholder]="selectedPart?.stockUnits">
                    <input type="text"
                        [(ngModel)]="quantityRequired"
                        class="form-control mb-4" placeholder="Quantity required"
                        name="quantityReq" [disabled]="oldRequisition">
                </div>
                    
                <!-- Quantity remaining -->
                <div class="quantity-input" [attr.data-placeholder]="selectedPart?.stockUnits">
                    <input type="text"
                        [(ngModel)]="quantityRemaining"
                        class="form-control mb-4" placeholder="Stock remaining"
                        name="quantityRem" [disabled]="oldRequisition">
                </div>
            </div>
            
            <ng-container *ngIf="oldRequisition">
                <div class="d-flex justify-content-left">
                    <!-- Quantity required -->                
                    <div class="quantity-input" [attr.data-placeholder]="selectedPart?.stockUnits">
                        <input type="text"
                            [(ngModel)]="additionalRequired"
                            class="form-control mb-4" placeholder="Additional required"
                            name="addReq">
                    </div>
                        
                    <!-- Quantity remaining -->
                    <div class="quantity-input" [attr.data-placeholder]="selectedPart?.stockUnits">
                        <input type="text"
                            [(ngModel)]="additionalRemaining"
                            class="form-control mb-4" placeholder="Stock remaining"
                            name="addRem">
                    </div>
                </div>
            </ng-container>          
            
            <!-- For Urgent -->

            <label class="form-check-label mb-2" *ngIf="selectedPart?.requisitions?.length > 0">This part has already been requested. Update add to the quntity</label>
            <div class="d-flex justify-content-center bd-highlight mb-3">
                <button *ngIf="!(selectedPart?.requisitions?.length > 0)"
                    [disabled]="!selectedPart || !quantityRequired"
                    type="button"
                    class="btn btn-success mx-2"
                    (click)="sendRequest()">Request
                </button>
                <div *ngIf="selectedPart?.requisitions?.length > 0">
                    <div class="d-flex">
                        <button type="button" class="btn btn-info mx-2" (click)="updateRequest()">Update Request</button>
                        
                        <div class="ml-5">
                            <input class="form-check-input mt-2 mt-2" type="checkbox"
                                id="urgentCheck"
                                name="urgentCheck"
                                [(ngModel)]="newRequisition.urgent"
                                [disabled]="oldRequisition?.forBuffer"
                                [checked]="oldRequisition?.forBuffer">
                            <label class="form-check-label ml-2 mt-1">Urgent</label>
                        </div>
                        
                    </div>
                </div>
            </div>
          </form>
    </div>
    <div class="container" *ngIf="requisitions?.length > 0">
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col" class="col-sm-2">Part Code</th>
                <th scope="col" class="col-sm-1">Quantity</th>
                <th scope="col" class="col-sm-4">Description</th>
                <th scope="col" class="col-sm-1">Initials</th>
                <th scope="col" class="col-sm-1">Date</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let req of requisitions">
                    <tr [ngClass]="req.urgent === true ? 'req-urgent' : ''">
                        <td>{{req.part.partCode}}</td>
                        <td>{{req.quantity}} {{req.part.stockUnits}}</td>
                        <td>{{req.part.description}}</td>
                        <td>{{req.user.initials}}</td>
                        <td>{{req.date | date:'short'}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>