<div class="row">
    <div class="col-md-4">
      <h2>Title</h2>
      <p>{{bom.title}}</p>
    </div>
    <div class="col-md-4">
      <h2>Date</h2>
      <p>{{date}}</p>
    </div>
    <div class="col-md-4">
      <h2>Create By</h2>
      <p></p>
    </div>
  </div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
        <th scope="col">Part Code</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody *ngFor="let bomEntry of bom.parts">
      <tr>
        <td>{{bomEntry.quantity}}</td>
        <td>{{bomEntry.part.description}}</td>
        <td>{{bomEntry.part.partCode}}</td>
        <td>{{bomEntry.componentLocation}}</td>
      </tr>
    </tbody>
</table>